page-login {
  .imagem{
        text-align: center;
        padding-top: 10pt;
  }
  .fundo{
        background-color:rgb(228, 91, 91);
        height: 100%;
  }
  .espaco{
        padding: 10%;
  }
}
